<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Location Share Overview</h1>
</div>

<div class="row">

  <!-- My shared Location -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">My Shared Location(Private)</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">10</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Shared Location with me -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">My Shared Location(Public)</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">50</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Location Shared with me(Private) -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Location Shared With Me(Private)</div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pending Requests Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Location Shared With Me(Public)</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>