<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="<%= root_path %>">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Location Sharing</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" href="<%= root_path %>">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Locations
  </div>

  <li class="nav-item <%= add_active_class(locations_path) %>">
    <a class="nav-link" href="<%= locations_path %>">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>My Location</span>
    </a>
  </li>

  <li class="nav-item <%= add_active_class(share_locations_path) %>">
    <a class="nav-link" href="<%= share_locations_path %>">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Share Location</span>
    </a>
  </li>
</ul>
<!-- End of Sidebar -->
