
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">My Locations</h1>
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <%= link_to "Add New Location", new_location_path, class: "btn btn-primary" %>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Address Type</th>
            <th>Address</th>
            <th>Lat</th>
            <th>Long</th>
            <th>Action</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Address Type</th>
            <th>Address</th>
            <th>Lat</th>
            <th>Long</th>
            <th>Action</th>
          </tr>
        </tfoot>
        <tbody>
          <% @locations.each do |location| %>
            <tr>
              <th><%= location.address_type %></th>
              <th><%= location.address %></th>
              <th><%= location.lat %></th>
              <th><%= location.long %></th>
              <th>
               <%= link_to "Delete", location_path(location), class: "btn btn-danger", method: :delete, :data => { :no_turbolink => true } %>
               <%= link_to "Share", new_location_share_location_path(location.id), class: "btn btn-primary" %>
              </th>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Locations Shared With Me (Private)</h1>
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <%#= link_to "Add New Location", new_location_path, class: "btn btn-primary" %>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Address Type</th>
            <th>Address</th>
            <th>Lat</th>
            <th>Long</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Address Type</th>
            <th>Address</th>
            <th>Lat</th>
            <th>Long</th>
          </tr>
        </tfoot>
        <tbody>
          <% @private_locations.each do |private_shared_location| %>
            <tr>
              <th><%= private_shared_location.location.address_type %></th>
              <th><%= private_shared_location.location.address %></th>
              <th><%= private_shared_location.location.lat %></th>
              <th><%= private_shared_location.location.long %></th>
            </tr>
          <% end if @private_locations.present? %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Locations Shared With Me (Public)</h1>
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <%#= link_to "Add New Location", new_location_path, class: "btn btn-primary" %>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Address Type</th>
            <th>Address</th>
            <th>Lat</th>
            <th>Long</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Address Type</th>
            <th>Address</th>
            <th>Lat</th>
            <th>Long</th>
          </tr>
        </tfoot>
        <tbody>
          <% @public_locations.each do |public_shared_location| %>
            <tr>
              <th><%= public_shared_location.location.address_type %></th>
              <th><%= public_shared_location.location.address %></th>
              <th><%= public_shared_location.location.lat %></th>
              <th><%= public_shared_location.location.long %></th>
            </tr>
          <% end if @public_locations.present? %>
        </tbody>
      </table>
    </div>
  </div>
</div>

