<div class="row">
  <!-- <div class="col-lg-5 d-none d-lg-block bg-register-image"></div> -->
  <div class="col-lg-10">
    <div class="p-5">
      <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Create a Location</h1>
      </div>
      <!-- <form class="user"> -->
        <%= form_for(@location, class: "user") do |f| %>
          <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <!-- <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name"> -->
              <%= f.text_field :lat,  class: "form-control form-control-user", id: "latitude", placeholder: "Latitude"%>
            </div>
            <div class="col-sm-6">
              <!-- <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Last Name"> -->
              <%= f.text_field :long,  class: "form-control form-control-user", id: "longitude", placeholder: "Longitude"%>
            </div>
          </div>
          <div class="form-group">
            <!-- <input type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="Email Address"> -->
            <%= f.text_field :address,  class: "form-control form-control-user", id: "address", placeholder: "Address"%>
          </div>
          <div class="form-group">
            <%= f.text_field :address_type,  class: "form-control form-control-user", id: "addressType", placeholder: "Address Type"%>
          </div>
          
          <%= f.submit "Submit", class: "btn btn-primary btn-user btn-block"%>
        <!-- </form> -->
      <% end %>
    </div>
  </div>
</div>