
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">My Shared Locations</h1>
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    Shared Locations
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Address Type</th>
            <th>Address</th>
            <th>Lat</th>
            <th>Long</th>
            <th>Shared Type</th>
            <th>Shated With</th>
            <th>Action</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Address Type</th>
            <th>Address</th>
            <th>Lat</th>
            <th>Long</th>
            <th>Shared Type</th>
            <th>Shated With</th>
            <th>Action</th>
          </tr>
        </tfoot>
        <tbody>
          <% @shared_locations.each do |shared_location| %>
            <tr>
              <th><%= shared_location.location.address_type %></th>
              <th><%= shared_location.location.address %></th>
              <th><%= shared_location.location.lat %></th>
              <th><%= shared_location.location.long %></th>
              <th><%= shared_location.is_private == 'true' ?  "Private" : "Public"%></th>
              <th><%= shared_location.share_with.try(:name) %></th>
              <th>
                <!-- <a href="#" class="btn btn-danger btn-circle" data-toggle="modal" data-target="#deleteRecordModal">
                  <i class="fas fa-trash"></i>
                </a> -->
                <%= link_to "Delete", share_location_path(shared_location.id), class: "btn btn-danger", method: :delete, :data => { :no_turbolink => true } %>
              </th>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
