<div class="row">
  <!-- <div class="col-lg-5 d-none d-lg-block bg-register-image"></div> -->

   <!-- Fade In Utility -->
  <div class="col-lg-10">

    <div class="card position-relative">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Location Type: <%= @location.address_type %></h6>
      </div>
      <div class="card-body">
        <div class="small mb-1">Latitude: <%= @location.lat %></div>
        <div class="small mb-1">Longitudes: <%= @location.long %></div>
        <p class="mb-0 small">Address: <%= @location.address %></p>
      </div>
    </div>

  </div>


  <div class="col-lg-10">
    <div class="p-5">
      <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Share Your Location</h1>
      </div>
        <%= form_for(@shared_location, url: location_share_locations_path(@location), class: "shared_location") do |f| %>
          <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <%= f.collection_select :share_with_id, User.all.where.not(id: @current_user.id), :id, :name, {}, :multiple => 'true', :class => 'form-control form-control-user' %>
            </div>
            <div class="col-sm-6">
              <%= f.select(:is_private, options_for_select([['Share Privately', true], ['Share Publickly', false]]), :class => 'form-control form-control-user') %>
            </div>
          </div>
          <%= f.submit "Submit", class: "btn btn-primary btn-user btn-block"%>
      <% end %>
    </div>
  </div>
</div>